<body>
  <div class="opening-hours-container">
    <div class="left-col">
      <div class="card" *ngFor="let train of currentTrain">
        <div class="content">
          <i data-feather="clock"></i>
          <span> {{ train.passagetime }} </span>
        </div>
        <div class="content">
          <i data-feather="calendar"></i>
          <span> {{ train.Direction }}</span>
        </div>
      </div>
    </div>

    <div class="right-col">
      <div
        class="card"
        id="smart-card"
        data-status="soon"
        *ngFor="let bus of currentB125"
      >
        <div class="content">
          <i data-feather="clock"></i>
          <span id="smart-status">{{ bus.Direction }}</span>
        </div>
        <div class="content">
          <i data-feather="clock"></i>
          <span id="smart-status">{{ bus.passagetime }}</span>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    feather.replace();
  </script>
</body>
